.App{
    margin-top:12px;
}

.Element{
    cursor: pointer;
}

#header{
    text-align: center;
    margin: 0 auto;
}

.fade-appear {
    transform: translateY(-100%);
    opacity: 0.01
}

.fade-appear.fade-appear-active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.fade-leave {
    transform: translateY(0%);
    opacity: 1
}

.fade-leave.fade-leave-active {
    transform: translateY(100%);
    opacity: 0.01;
    transition: all 0.5s ease-in-out;
}

.fade-enter {
    transform: translateY(-100%);
    opacity: 0.01
}

.fade-enter.fade-enter-active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.body{
    margin-top:40px;
}