.App{
    margin-top:12px;
}

.Element{
    cursor: pointer;
}

#header{
    text-align: center;
    margin: 0 auto;
}

.body{
    margin-top:40px;
    .checkout-steps{
        margin-bottom:30px;
    }

    .fade-appear {
        transform: translateY(-10%);
        opacity: 0.01
    }
    
    .fade-appear.fade-appear-active {
        transform: translateY(0%);
        opacity: 1;
        transition: all 500ms ease-in-out;
    }
    
    .fade-enter {
        transform: translateY(-10%);
        opacity: 0.01
    }
    
    .fade-enter.fade-enter-active {
        transform: translateY(0%);
        opacity: 1;
        transition: all 500ms ease-in-out;
    }
}